<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">

        ymaps.ready(init);
        function init(){

            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 8
            });
            var mysql = require('mysql');
            var latitude,longitude;
            var con = mysql.createConnection({
              host: "localhost",
              user: "root",
              password: "",
              database: "sensor"
            });

            con.connect(function(err) {
              if (err) throw err;
              con.query("SELECT LATITUDE, LONGITUDE FROM customers", function (err, result, fields) {
                if (err) throw err;
                latitude = result[0].LATITUDE;
                longitude = result[0].LONGITUDE;
              });
            });

            var myPlacemark = new ymaps.Placemark([latitude, longitude], {}, {
        preset: 'twirl#blueStretchyIcon'
    });
    myMap.geoObjects.add(myPlacemark);
        }
    </script>
</head>
<body style="margin: 0;padding: 0;height: 100%;">
<div id="map" style="width: 100%; height: 750px;padding: 0px;"></div>
<footer id="footer" class="footer-1" style=" background: #252525;position: absolute;bottom: 0;width: 100%;height: 20%;">
    <div class="container">
        Copyright
    </div>
</footer>
</body>
</html>